@import "vars.scss";

body{
    margin: 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

a{
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    margin: 0 0 4px;
}

// Grid

@import "wrapper.scss";

// Section-header

@import "section_header.scss";

// Ibg adaptive

@import "ibg.scss";

// Blocks

@import "blocks/header";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/works";
@import "blocks/reviews";
@import "blocks/shop";
@import "blocks/contacts.scss";
@import "blocks/footer";


