.about{
    background: #f7f7f7;
    padding: 100px 0;

    &__inner{
        text-align: center;
        width: 100%;
        max-width:1050px;
        margin: 0 auto;
    }

    &__title{
        margin: 25px 0;
    }
    &__text{

    }
}