.header{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index: 1000;

    &.fixed{
        position: fixed;
        top:0;
        left:0;
        right:0;
        padding: 15px 0;
        background: #000;
        box-shadow: 0 0 4px rgb(0,0,0);
    }

    &.fixed .header__inner{
        padding: 30px 0;
    }
    &__inner{
        padding-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    &-menu{
        display: flex;
        text-align: center;

        &__item{
            &:nth-child(2){
                margin-right: 120px;
                
                &:after{
                    display: none;
                }
            }
            &:nth-child(3){
                margin-left: 120px;
            }
            &:after{
                content: " ";
                display: inline-block;
                width: 2px;
                height: 2px;
                background:#5d5a68;
                margin: 0 45px;
                font-size: 0;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
        }
        &__link{
            font-size: 13px;
            color:#5d5a68;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3px;
            transition: color .2s linear;

            &:hover{
                color:#1ec681;
            }
        }
    }
    
    &__logo{
        position: absolute;
        left:50%;
        transform: translate3d(-50%,0,0);
    }

    @media (max-width:$screen-sm-max){
        &-menu{
            &__item{
                &:after{
                    display: none;
                }

                &:nth-child(1){
                    margin-right: 35px;
                }

                &:nth-child(4){
                    margin-left: 35px;
                }
            }
        }
    }

    @media (max-width:627px){
        &-menu{
            &__item{
                &:nth-child(2){
                    margin-right: 24px;
                }
            }
        }
    }

    @media (max-width:$screen-xs-max){
        &__inner{
            padding-top: 25px;
        }
        &-menu{
            display:none;
            position: absolute;
            top:100%;
            left:0;
            background: #000;
            box-shadow: 0 0 4px rgb(0,0,0);
            width: 100%;
            padding:15px 0;

            &.active{
                display: block;
            }
            &__item{
                &:after{
                    display: none;
                }
                &:nth-child(1){
                    margin-right: 0;
                }
                &:nth-child(2){
                    margin-top: 7px;
                    margin-right: 0;
                }
                &:nth-child(3){
                    margin-top: 7px;
                    margin-left: 0;
                }
                &:nth-child(4){
                    margin-top: 7px;
                    margin-left: 0;
                }
            }
            &__link{
                font-size: 20px;
            }
        }
        &__logo{
            position: relative;
            left:0;
            transform: translate3d(0,0,0);
        }
        &.fixed .header__inner{
            padding: 0;
        }
    }
}