.reviews{
    padding: 110px 0 60px;
    background:#f7f7f7;

    &-item{
        text-align: center;
        width: 100%;
        max-width: 1130px;
        margin: 0 auto;
        &__iccon{
            width: 30px;
            height: 30px;
            fill:#56c7ee;
            transition: fill .2s linear;

            &:hover{
                fill:#c5ee56;
            }
        }
        &__title{
            letter-spacing: 3px;
            color:$title-color;
            font-size: 18px;
            font-weight: 700;
            margin: 15px 0;

            span{
                color:#848789;
                font-weight: 300;
            }
        }
        &__text{
            font-size: 24px;
            color:#848789;
            line-height: 34px;
        }
    }

    @media (max-width:$screen-sm-max){
        padding: 30px 0;
    }

    @media (max-width:$screen-xs-max){
        &-item{
            &__title{
                font-size: 16px;
            }
            &__text{
                font-size: 16px;
                line-height: 25px;
            }
        }
    }
}