.contacts{
    background:#ffffff;
    padding: 100px 0;
    &__inner{
        text-align: center;
        width: 100%;
        max-width:530px;
        margin: 0 auto;
    }
    
    &__title{
        margin: 30px 0;
        font-size: 24px;
        color:#848789;
        font-style: Italic;
    }
    &-form{
        display: flex;
        justify-content: center;

        &__input{
            flex-grow: 1;
            .input{
                width: 100%;
                font-size: 20px;
                font-style: Italic;
                color:#929292;
                background: transparent;
                height: 65px;
                padding: 0 0 0 27px;
                border: 1px solid #d3d7d9;
    
                &::placeholder{
                    color:#929292;
                }
    
                &:focus{
                    outline: none;
                }
            }
        }
        &__btn{
            margin-left: 7px;
            .btn{
                cursor: pointer;
                display: inline-block;
                vertical-align: top;
                height: 65px;
                background: #64c29e;
                font-size: 24px;
                color:#ffffff;
                border:0;
                text-align: center;
                padding: 0 42px;
                text-transform: uppercase;
                transition: background .2s linear,color .2s linear;
    
                &:hover{
                    background: #68c264;
                    color:#d2e319;
                }
                
                &:focus{
                    outline: none;
                }
            }
        }
    }
    
    @media (max-width:$screen-sm-max){
        padding: 50px 0;
    }

    @media (max-width:$screen-xs-max){
        &__title{
            margin: 15px 0;
        }

        &-form{
            flex-direction: column;

            &__btn{
                margin: 7px 0 0;
                flex-grow: 1;
                button{
                    width: 100%;
                }
            }
        }
    }
}